@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  width: 100vw;
}
.compare-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.molecule-view {
    position: relative;
    box-sizing: border-box;
}

.molecule-view h2 {
  margin-right: 40px; 
}

.controls1 {
margin-top: 1em;
}

.controls1 select {
height: 5vh !important;
width: 100px;
text-align: center;
color: #fff;
background-color:rgba(59, 49, 61, 0.718);
border-radius: 5px;
font-family: 'Roboto', serif;
font-size: 1em;
font-weight: 700;
cursor: pointer;
}

.controls1 select:hover {
border-color: #e1e5e9;
}

.controls1 select:focus {
outline: none;
border-color: #e1e5e9;
box-shadow: 0 0 5px rgba(31, 32, 33, 0.5);
}

.controls1 label {
font-size: 16px;
font-weight: bold;
color: #333;
}

.controls2 {
margin-top: 1em;
}

.controls2 select {
height: 5vh !important;
width: 100px;
text-align: center;
color: #fff;
background-color:rgba(59, 49, 61, 0.718);
border-radius: 5px;
font-family: 'Roboto', serif;
font-size: 1em;
font-weight: 700;
cursor: pointer;
}

.controls2 select:hover {
border-color: #e1e5e9;
}

.controls2 select:focus {
outline: none;
border-color: #e1e5e9;
box-shadow: 0 0 5px rgba(31, 32, 33, 0.5);
}

.controls2 label {
font-size: 16px;
font-weight: bold;
color: #333;
}

#molecule-view1 {
    grid-column: 1;
    left: 5px;
    max-width: 49vw;
}

#molecule-view2 {
    grid-column: 2;
    max-width: 49vw;
    right: 5px;
}

.molecule-view x-button {
    float: right;
}

.molecule-view h2 {
    margin-right: 40px;
}




.x-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ec5a65;
    border: none;
    border-radius: 50%;
    color: white;
    width: 25px;
    height: 25px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .x-button:hover {
    background-color: #d94450;
  }

  .tox21-properties-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px; 
    margin-top: 20px;
  }
  
  .tox21-property {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 190px;
    justify-content: center;
  }
  
  .tox21-property strong {
    font-weight: bold;
  }
  
  .checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
  }
  
  .checkbox.checked {
    background-color: #4CAF50;
  }
  
  .checkbox.checked::before {
    content: "✔";
    color: white;
    font-size: 14px;
  }

  .homepage-button {
    position:absolute;
    top: 10px; 
    left: 10px; 
    z-index: 1000; 
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    height: 60px;
    width: 60px;
    border: black solid 1px;
    background-color: #f5f5f5;
  }
  
  .homepage-button img {
    width: 40px;
    height: 40px;
    top: 10px;
    left: 10px;
  }


  @media screen and (max-width: 1400px) {

    .molecule-view{
      width: auto;
    }

    #molecule-view1{
      max-width: 50vw;
    }

    #molecule-view2{
      max-width: 50vw;
    }

  }