@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.molecule-view {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(59, 49, 61, 0.718);
    border-radius: 10px;
    padding: 2em;
    width: 80vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 2em auto;
    font-family: 'Roboto', serif;
    text-align: center;
    color: rgba(59, 49, 61, 0.9);

    display: flex;
    flex-direction: column;
    flex-wrap:wrap;

    align-items: center;
    align-content: center;
    justify-content: center;

    overflow-y: auto;
    overflow-x: auto;
  }

  .molecule-view h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    color: rgba(59, 49, 61, 0.718);
  }
  
  .molecule-view ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .molecule-view li {
    font-size: 1.2em;
    margin: 0.5em 0;
  }
  
  .molecule-view li strong {
    color: rgba(59, 49, 61, 1);
  }
  
  .molecule-view li:first-child {
    margin-top: 1em;
  }
  
  .molecule-view li:last-child {
    margin-bottom: 1em;
  }
  
  .molecule-view .highlight {
    font-weight: bold;
    color: rgba(236, 90, 101, 0.932);
  }
  
  .molecule-view .additional-info {
    font-size: 0.9em;
    color: rgba(59, 49, 61, 0.6);
    margin-top: 1em;
    font-style: italic;
  }
  
  .molecule-view .error {
    color: rgba(236, 90, 101, 0.932);
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
  }

  .property {
    margin-left: 5px;
  }

  .viewer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: baseline;
    gap: 10px;
    padding: 1em;

    width: 100%;
    height: auto;

    text-align: left;

  }
  
  .viewer_3Dmoljs {
    min-height: 400px;
    min-width: 400px;

    width: auto;
    height: auto;

    position: relative;
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
  }
  
  .controls label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .controls select {
    height: 5vh !important;
    width: 100px;
    text-align: center;
    color: #fff;
    background-color:rgba(59, 49, 61, 0.718);
    border-radius: 5px;
    font-family: 'Roboto', serif;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
  }
  
  .controls select:hover {
    border-color: #e1e5e9;
  }
  
  .controls select:focus {
    outline: none;
    border-color: #e1e5e9;
    box-shadow: 0 0 5px rgba(31, 32, 33, 0.5);
  }

  .properties {
    width: 90%;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: left;
  }

  .add .minimize{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: rgba(59, 49, 61, 0.718);
    background-color: rgb(250, 235, 215, 0.7);
    padding: 0.5em 0.5em 0.5em 0.5em;

    right: 1em;
    top: 1em;
}



.view-and-properties{
  display: flex;
  flex-direction: row;
}

.tox21-properties-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 15px; 
  margin-top: 20px;
  font: black;
}

.tox21-property {
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 190px;
  justify-content: center;
}

.tox21-property strong {
  font-weight: bold;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

.checkbox.checked {
  background-color: #4CAF50; 
}

.checkbox.checked::before {
  content: "✔"; 
  color: white;
  font-size: 14px;
}

.homepage-button {
  position:absolute;
  top: 10px; 
  left: 10px; 
  z-index: 1000; 
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  height: 60px;
  width: 60px;
  border: black solid 1px;
  background-color: #f5f5f5;
}

.homepage-button img {
  width: 40px; 
  height: 40px; 
  top: 10px;
  left: 10px;
}
