@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: rgba(236, 206, 246, 0.932);
  margin: 0em 0em 0em 0em;

  font-family: 'Roboto', serif;
  text-align: center;

  overflow-x: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  gap:1em;

  overflow-y: auto;
  overflow-x: hidden;
}

.header {
  position: fixed;
  height: fit-content;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgba(59, 49, 61, 0.718);
  padding: 0em 1em;
  margin-right: 1em;
  color: antiquewhite;
  width: 100vw;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0em;
  max-height: 40vh;
}

.welcome h1{
  top: 15vh;
  font-weight: 1000;
  font-size: 5em;
  padding: 0em 0em 0em 0em ;
  max-height: 5em;
}

.welcome p {
  font-weight: 600;
  font-size: 1em;
  font-style: italic;
}

.search-container {
  margin: 1em 1em 1em 1em;
  width: 150vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;

}

.search-container #search-input {
  font-family: 'Roboto', serif;
  width: 80%;
  height: 30%;
  border-radius: 1em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  font-size: 1em;
  position: relative;
}

.search-container .search-btn {
  background-color: rgba(59, 49, 61, 0.718);
  color: white;
  min-width: 30%;
  height: 20%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-family: 'Roboto', serif;
  font-size: 1.3em;
  font-weight: 700;
  border:0.1em solid black;
}

.search-container .search-btn:hover{
  cursor: pointer;
}

img {
  max-width: 50vw;
  max-height: 40vh;
  top: 45vh;
  right: 20px;
  position: absolute;
  z-index: -1;
}

.footer {
  position: fixed;
  width: 100vw;
  height: fit-content;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgba(59, 49, 61, 0.718);
  left: 0;
  bottom: 0;
  right: 0;

  padding: 0em 2em;
  color: antiquewhite;
  width: 100vw;
  text-align: left;
  font-size: small;
  bottom: 0px;

  padding: 1em 1em 1em 1em;
}

.footer .left {
  left: 15px;
}

.footer .right {
  right: 15px;
  text-align: right;
  padding-right: 2em;
}




